.header-main{
    background-color: #040c21;
    box-shadow: 1px 1px 5px rgb(219, 206, 206);
}

header{
    position:sticky;
    z-index: 3;
    top:0;
}

header .container{
    display: flex;
    justify-content: space-between;
    background-color: #040c21;
   
}

.logo{
    width: 90px;
    border-radius: 20px;
    margin-left: 50px;
    height: 90%;
    margin-top: 5px;
}

.unorder-list{
    display: flex;
    margin-top: 13px;
    list-style: none;
    color: white;
    font-size: 20px;
}

.unorder-list li {
    margin-left: 50px;
    text-decoration: none;
    margin-top: 25px;
    font-size: 18px;
}

.unorder-list li a {
    margin-left: 0px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;    
}

.unorder-list li a:hover,
.unorder-list li a:active,
.unorder-list li a.active{
    color: #94c1f0;  
}