.center {
  position: relative;

  padding: 50px 50px;
  /* background: linear-gradient(45deg, rgb(113, 153, 153), rgb(40, 3, 204)); */
  background-image: url('https://i.pinimg.com/originals/87/86/43/8786437305edb4c51ec7cbe4b24f03e8.jpg');
  background-size: contain;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 50px auto;
}

.center .inputbox {
  position: relative;
  width: 250px;
  height: 15px;
  margin-bottom: 50px;
}

.center .inputbox input,
.center .inputbox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid black;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center .inputbox:last-child {
  margin-bottom: 0;
}

.sumbitButton {
  width: 30%;
  background: rgb(148, 92, 39);
  color: #fff;
  border: #fff;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
}

.sumbitButton:hover {
  background-color: rgb(70, 175, 92);
  cursor: pointer;

}